# Скомпилированный код Java
*.class

# Логи и временные файлы
*.log

# Папки сборки Maven и Gradle (их нельзя коммитить!)
target/
build/
.gradle/

# Настройки сред разработки (опционально)
.idea/
*.iml